<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Balaji</string>
	<string>pramod</string>
	<data>cmFqZXNo</data>
	<integer>345</integer>
	<string>ramesh</string>
	<date>2019-08-28T08:46:26Z</date>
	<true/>
</array>
</plist>
